.stickbottom {
            bottom: 0;
            margin-top: 25% !important;
            padding-top: 0 !important;
            margin-bottom: 0% !important;
            padding-bottom: 1% !important;
        }